/* general styling */
button {
  outline: none;
}

/*  */
.container {
  width: clamp(75vw, 1000px, 90vw);
  margin: 0 auto;
}

.cells-list-item {
  margin-bottom: 60px;
}

/* make first AddCell compoentn visible */
.visible > * {
  opacity: 1 !important;
}

/* format action bar*/
.text-cell {
  position: relative;
}

.action-bar-wrapper {
  height: 3.6vh;
  width: 100%;
  background-color: #37414b;
  position: relative;
}

.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
  transition: opacity 0.3s;
}

.action-bar:hover {
  opacity: 1;
}

.action-bar button {
  background-color: #df691a;
  color: #f5f5f5;
}

/* format markdown editor */

.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.w-md-editor {
  line-height: 1;
}

.react-resizable-handle {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}

.resize-horizontal {
  display: flex;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

/* markdown editor styling */
/* recolor to keep consistent with the dark mode code editor */
.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
  color: #d4d4d4 !important;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

.text-editor em {
  font-style: italic;
}

.text-editor .wmde-markdown hr {
  border-top: 1px solid #dee5ed;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}

.text-editor .w-md-editor-toolbar {
  background-color: #37414b;
  border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4;
}

.text-editor .w-md-editor-content {
  background-color: #202123;
}

.text-editor .w-md-editor,
.text-editor .w-md-editor .w-md-editor-text-pre {
  color: #d4d4d4;
}

.text-editor .w-md-editor-text-pre .bold {
  color: unset;
}

.text-editor .token.list.punctuation {
  background-color: unset;
}
.w-md-editor-toolbar li.active > button {
  color: skyblue;
}

.w-md-editor-toolbar li.active {
  background-color: #f4f4f4;
}

/* replace default svg for reszing to be the same as the resizable component*/
.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}
